.Home {
  text-align: center !important;
}

.app-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.add-btn {
  /*display: grid;
  justify-content: center !important;
  margin-right: 0rem !important;
  margin-top: 3rem !important;*/
  display: grid;
  position: absolute !important;
  top: 5rem !important;
  right: 8px !important;
}

.dashboardAside {
  width: 15rem;
}