h2 {
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
  }
  
  .addProjectForm {
	margin-left: 20px;
	margin-right: 20px;
  }
  
  .taskInput {
	display: flex;
	margin-top: 10px;
  }
  
  .textInputBox {
	width: 300px;
  }
  
  .addBtn {
	  background-color: rgb(50, 201, 252);
  }
  
  .delBtn {
	  background-color: lightgray;
	  border: 0px;
	  position: relative;
	  margin: 10px;
	  font-weight: bolder;
  }
  
  .listText {
	  width: fit-content;
	  display: flex;
	  position: relative;
  }
  
  .list {
	  background-color: lightgray;
	  border-radius: 3px;
	  margin-top: 3px;
	  padding: 10px;
	  font-family: "Lucinda Console", "Courier New", monospace;
	  font-weight: bold;
	  justify-content: space-between;
	  align-items: center;
	  display: flex;
  }